@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
  url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
}

.header_top {
  font-family: "MyriadProRegular";
  height: 10vh;
}

.container_top {
  border: 1px solid #fff;
  display: grid;
  grid-template-columns: 0.7fr 0.5fr 4fr 0.5fr;
  align-items: center;
  text-align: center;
  height: 10vh;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.20);
}

.logo {
text-align: end;
}

.menu li{
  text-transform: uppercase;
  list-style: none;
  display: inline;
  padding: 0.5rem;
}

.menu a {
  text-decoration: none;
  color: #3671a7;
  font-weight: bold;
}

.phone_number {
  text-align: end;
  font-weight: bold;
}

.languages a {
  text-decoration: none;
  text-align: start;
  padding: 0.5em;
  color: #3671a7;
}

.languages a:active{
  background-color: #ff8500;
  color: #fff;
}

.languages {
  text-align: start;
  font-weight: bold;

}

.header_main {
  margin-top: 40px;
  padding: 0px 60px;
}

.container_main {
  display: grid;
  grid-template-rows: repeat(1fr);
}

.title_one {
  padding: 1em;
  padding-left: 0;
  text-transform: uppercase;
  color: #0e3d6b;
}

.icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 5em;
  align-items: center;
  padding: 1em;
  padding-top: 0;
}

.icon h5 {
  text-transform: uppercase;
  color: #777;
}

.lorem_title {
  color: #3671a7;
}

.title_one, .icon {
  font-family: "MyriadProRegular";
}

.lorem_title p{
  font-family: 'Calibri';
  font-weight: bold;
}

.sentence {
  display: grid;
  grid-auto-flow: row;
}

.title_two {
  text-transform: uppercase;
  color: #0e3d6b;
  font-family: "MyriadProRegular";
  text-align: center;
  padding: 2rem;
}

.container_window {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.window_one, .window_two {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem;
  padding-top: 0;
}

.window_one {
  padding-left: 0;
}

.window_two {
  padding-right: 0;
}

.window_text {
  text-align: center;
  width: 250px;
}

.window_title {
  color: #3671a7;
  font-weight: lighter;
}

.window_line {
  border: 3px solid #ff8500;
  margin: 1rem;
  width: 80%;
  border-radius: 10px;
  background-color: #ff8500;

}

.window_lorem {
  padding-bottom: 2rem;
}

.window_btn {
  border: 1px solid #ff8500;
  background-color: #ff8500;
  width: 145px;
  height: 30px;
  justify-items: center;
  margin: 0 auto;
  padding: 5px;
}

.window_btn a {
  font-family: "MyriadProRegular";
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  align-self: center;
}



.stock {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
  align-items: center;
  background-color: #e9f1f8;
  padding: 0px 60px;
  height: 12em;
}

.stock_title {
  font-family: "MyriadProRegular";
}

.stock_title h1 {
  text-transform: uppercase;
  color: #004a8f;
  font-weight: bold;
}

.stock_title h2 {
  color: #0e3d6b;
}

.stock_title h3 {
  color: #0e3d6d;
  font-weight: bold;
}

.stock_title h4 {
  color: #0e3d6b;
}

.first_word {
  color: #ff8500;
}

.price_window {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0px 60px;
}

.title_price h2{
  text-transform: uppercase;
  color: #0e3d6b;
  font-weight: 600;

  padding-left: 0;
}

.title_price {
  padding: 2rem 2rem 2rem 0;
}

.price_line {
  position: relative;
  bottom: 30px;
}

.price_lorem p{
  color: #3671a7;
  font-weight: bold;
}

.container_order {
  padding: 0px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;

}
.link {
  width: 250px;
  margin: 0 auto;
}
.link a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #3671a7;
}

.red_border img{
  position: relative;
  text-align: start;
  right: 25%;
  top: 15px;
}

.window4 {
  padding-bottom: 1em;
}

.price_order1, .price_order2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #777;
}


.price_order1 s {
  color: #000;
  text-decoration-color: #bb3545;
  font-weight: bold;
}

.price_order2 {
  padding-bottom: 1em;
}

.cash {
  color: #ff8500;
  font-size: 3em;
  font-weight: bold;
}

.grn {
  font-size: 3em;
  font-weight: bold;
  color: #3671a7;
}

.price_btn {
  border: 3px solid #4bbe3f;
  background-color: #4bbe3f;
  height: 30px;
  width: 145px;
  margin: 0 auto;
  padding-top: 5px;
}

.price_btn a {
  font-family: "MyriadProRegular";
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.box {
  display: grid;
  grid-template-rows: 0fr 2fr 0.7fr 0fr 0fr 1fr ;
}

.img_icon {
  padding: 0px 60px;
}

.container_icon {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
}

.section {
  display: grid;
  grid-template-columns: 0.5fr 4fr;
  padding: 0.5em;
  align-items: center;
}

.slayder {
  margin: 60px 0px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.img img {
  padding: 0em 1em;
}

.btn_left, .btn_right {
  align-self: center;
  text-align: center;
  color: #ff8500;
  font-size: 2em;
}

.helping {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: center;
  text-align: center;
  background: #e2eaf1;
}

.help_title {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  padding: 1em;
}

.help_lorem p{
  font-size: 17px;
  padding: 1em;
}

.help_register {
  padding: 0px 60px;
  align-items: center;
  text-align: center;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #ff8500;
  background-color: #ff8500;
  border-radius: 10px;
  padding: 3px 25px;
  margin: 1em;
}

.input {
  padding: 5px;
  margin: 1em;
  border: 1px solid #777;
  border-color: #777;
}

